.outer-headings {
    position: relative;
    height: auto; 
    min-height: 100vh; 
    /* ...rest of the styles... */
  }

.about-me-container {
    position: fixed; /* Fix the position relative to the viewport */
    top: 60%; /* Adjust this value to position the container higher or lower */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    /* ...rest of the styles... */
  }

  .typing-container {
    max-width: 600px; /* Adjust this width as needed */
  }
  
  .typing-effect {
    font-size: 2em;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 3px solid white; /* Caret */
    animation: typing 4s steps(40, end) forwards, blink-caret 4s step-end forwards;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: white; }
    50% { border-color: transparent; }
  }
  
  
  .info-container {
    max-width: 600px; /* Adjust this width as needed */
    color: white;
    font-size: 1.2em;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .info-container.fade-in {
    transform: translateX(0);
    opacity: 1;
  }
  