* {
  font-family: 'Roboto', sans-serif;
  margin: 0; 
  padding: 0;
}

.about-more { 
  margin-top: -40px;
}

.space1 { 
  height: 700px;
}

.space2 {
  height: 200px;
}

.skill {
  background: transparent;
  margin: -10px;
}

.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  background-color: transparent;
  margin-bottom: 20px;
  margin-left: -20px;
}

.skill-name {
  font-size: 16px;
  font-weight: 700;
  color: #f1f1f1;
  margin: 20px 0;
  background: transparent;
}

.skill-bar {
  height: 14px;
  border-radius: 10px;
  margin-top: -15px;
  background: rgba(187, 187, 187, 0.801);
}

.skill-per {
  height: 14px;
  background: #fff7f7;
  border-radius: 10px;
  position: relative;
}

.box:hover .skill-per {
  animation: fillBars 2.5s forwards;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 10px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
  display: none;
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
  background-color: transparent;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.about-me-section {
  color: white; 
  padding: 50px; 
}

.background-image-container {
  width: 1100px; 
  height: 600px; 
  margin-left: 300px;
  background-image: url('./assets/square-home-wallpaper.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.background-image-container2 {
  width: 1100px; 
  height: 600px; 
  margin-left: 280px;
  margin-top: -500px;
  background-image: url('./assets/square-home-wallpaper.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.outer-headings {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

h1 { 
  color: white; 
  background: transparent;
  font-size: 80px; 
  margin-right: 175px; 
  margin-bottom: 100px;
  padding-left: 80px;
  z-index: 10000;
}

h2 { 
  font-size: 80px;
  transform: translate(340px, -530px);
  background-color: transparent;
}

h4 {
  font-size: 80px;
  transform: translate(380px, -480px);
  background-color: transparent;
  color: white;
}

.typing-effect1 {
  display: inline-block; 
  border-right: 3px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  max-width: 780px; 
  animation: typing 4s steps(40, end) 1 forwards, blink-caret 0.75s step-end infinite;
}

.typing-effect {
  display: inline-block; 
  border-right: 3px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  max-width: 740px; 
  animation: typing 4s steps(40, end) 1 forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  0%, 100% { border-color: white; }
  50% { border-color: transparent; }
}

.highlight {
  color: red;
}

.link {
  font-weight: 900;
  color: black;
  background-color: transparent;
}

.about-me-text {
  margin-left: 300px; 
  margin-top: -450px; 
  font-size: 25px;
}

.image-container {
  width: 600px;
  height: 600px;
  margin-right: -10px;
  background-image: url('./assets/light-bulb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1010;
}

.inner-headings {
  height: 80px; 
  line-height: 90px;
  font-size: 80px;
  overflow: hidden;
  background: transparent;
  position: relative;
}

.inner-headings span {
  position: relative; 
  color: rgb(255, 41, 41); 
  background: transparent;
  animation: animation 4s cubic-bezier(0.4, 0.0, 0.2, 1) infinite; 
}

@keyframes animation { 
  0%, 100% { 
    top: 0; 
    transform: scale(1);
  }
  5%, 30% { 
    transform: scale(1.05); 
  }
  33.33% { 
    top: -100px; 
  }
  38.33%, 63.33% { 
    transform: scale(1.05); 
  }
  66.66% { 
    top: -200px; 
  }
  71.66%, 96.66% {
    transform: scale(1.05); 
  }
}

.outer-headings.scrolled h1 {
  transform: translateX(-50px); 
  transition: transform 0.6s ease-in-out;
}

.outer-headings h1 {
  transform: translateX(0); 
  transition: transform 0.4s ease-in-out; 
}

.outer-headings.scrolled h1 {
  transform: translateX(-50px); 
}

.image-container {
  transform: translateX(0); 
  transition: transform 0.4s ease-in-out; 
}

.image-container.move-right {
  transform: translateX(50px); 
}

.arrow-container {
  position: fixed; 
  bottom: 20px;
  left: 50%;
  margin-left: -15px;
  transform: translateX(-50%);
  z-index: 1001;
  animation: fadeIn 10s ease;
  background-color: transparent;
}

.arrow-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  opacity: 1; 
  transition: opacity 1s ease; 
  background-color: transparent;
}


.arrow-down {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  animation: bounce 2s infinite;
  background-color: transparent;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(-20px) rotate(45deg); 
  }
}

.arrow-wrapper.hide-arrow {
  opacity: 0; 
  background-color: transparent;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  width: 30%; 
  perspective: 1000px;
  position: relative; 
}

.box-front::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 10px; 
  width: 30px; 
  height: 30px; 
  background-image: url('./assets/arrow-point.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative; 
}

.box:hover .box-inner {
  transform: rotateX(180deg); 
}

.box-front,
.box-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box-front {
  background-color: #fff; 
  color: black;
}

.box-back {
  background-color: #fff; 
  color: black;
  transform: rotateX(180deg); 
}

.box-back p {
  background-color: transparent;
  color: black;
}

.box-front h3 {
  background-color: transparent;
}

.box-1 .box-front {
  background-color: #FF6464;
}

.box-2 .box-front {
  background-color: #CC3F3F; 
}

.box-3 .box-front {
  background-color: #BF6666; 
}

.box-1 .box-back {
  background-color: #FF6464; 
}

.box-2 .box-back {
  background-color: #CC3F3F; 
}

.box-3 .box-back {
  background-color: #BF6666; 
}

.box-1 {
  width: 300px; 
  height: 360px; 
  margin-top: 20px;
  margin-left: 200px;
}

.box-2 {
  width: 500px; 
  height: 250px; 
  margin-top: -70px;
}

.box-3 {
  width: 250px; 
  height: 250px; 
  margin-top: 125px;
  margin-right: 475px;
}

.box-1 p { 
  font-size: 20px;
  font-weight: 500px;
  color: white;
  margin-bottom: 70px;
}

.box-1 h3 {
  margin-right: 270px;
  margin-bottom: 325px; 
  font-size: 24px;
  color: white;
}

.box-2 p { 
  font-size: 20px;
  font-weight: 500px;
  color: white;
  margin-bottom: 70px;
}

.box-2 h3 {
  margin-right: 420px;
  margin-bottom: 240px; 
  font-size: 24px;
  color: white;
}

.box-3 p { 
  font-size: 18px;
  font-weight: 500px;
  color: white;
}

.box-3 h3 {
  margin-right: 150px;
  margin-bottom: 240px; 
  font-size: 24px;
  color: white;
}

.box-2 p li {
  background-color: transparent;
}

.music {
  display: flex;
  width: 500px;
  height: 450px;
  justify-content: flex-start;
  background-color: #FE7D7D;
  box-shadow: 6px 2px rgba(255,56,56,0.25);
  margin-top: -350px;
  margin-left: 200px;
}

.music p { 
  font-size: 25px;
  font-weight: 600;
  margin-top: 35px;
  margin-left: 20px;
  background-color: transparent
}

.my-music-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;        /* Larger size */
  color: rgb(0, 0, 0);             /* Red color */
  margin-left: 20px;
  margin-top: 30px;
  background-color: transparent;
}

.experiences { 
  width: 800px;
  height: 450px;
  background-color: #FF6C6C;
  box-shadow: 10px 2px rgba(255,56,56,0.25);
  margin-top: -450px;
  margin-left: 730px;
}


@media (max-width: 1500px) {
  h2 { 
    font-size: 80px;
    transform: translate(100px, -530px);
    background-color: transparent;
  }

  .background-image-container {
    width: 1100px; 
    height: 600px; 
    margin-left: 60px;
    background-image: url('./assets/square-home-wallpaper.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }

  .box-1 {
    width: 300px; 
    height: 360px; 
    margin-top: 10px;
    margin-left: 70px;
  }

  .box-1 p { 
    font-size: 20px;
    font-weight: 500px;
    color: white;
    margin-bottom: 30px;
  }

  .box-1 h3 {
    margin-right: 250px;
    margin-bottom: 340px; 
    font-size: 24px;
    color: white;
  }
  .box-2 {
    width: 500px; 
    height: 250px; 
    margin-top: -60px;
    margin-left: 40px;
  }
  .box-2 h3 {
    margin-right: 450px;
    margin-bottom: 250px; 
    font-size: 24px;
    color: white;
  }

  .box-3 { 
    width: 250px; 
    height: 250px; 
    margin-top: 125px;
    margin-right: 175px;
    margin-left: 40px;
  }

  .box-3 h3 {
    margin-right: 150px;
    margin-bottom: 240px; 
    font-size: 24px;
    color: white;
  }
}

@media (max-width: 500px) { 
  h1 { 
    color: white; 
    background: transparent;
    font-size: 60px; 
    margin-right: 175px; 
    padding-left: 200px;
    z-index: 10000;
  }

  .outer-headings {
    margin-top: -100px;
    margin-left: -30px;
  }
  
  .inner-headings {
    height: 80px; 
    line-height: 90px;
    font-size: 60px;
    overflow: hidden;
    background: transparent;
    position: relative;
  }

  span {
    white-space: nowrap;
  }

  .background-image-container {
    width: 1000px; 
    height: 600px; 
    margin-top: -300px;
    margin-left: -4px;
    background-image: url('./assets/square-home-wallpaper.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }

  h2 { 
    font-size: 60px;
    transform: translate(-10px, -540px);
    margin-bottom: -500px;
    background-color: transparent;
  }

  .boxes-container {
    flex-direction: column; /* Stack the boxes vertically */
    align-items: center; /* Center-align the boxes */
  }

  .box {
    width: 100%; /* Adjust the width to fit the screen */
    margin: 5px 0px; /* Add some margin for spacing and center alignment */
    left: -10px; /* Reset any left alignment from larger screens */
    right: 0; /* Reset any right alignment from larger screens */
  }

  .box-1 {
    width: 350px; 
    height: 360px; 
  }

  .box-1 p { 
    font-size: 20px;
    font-weight: 1200px;
    color: white;
    margin-bottom: 30px;
  }

  .box-1 h3 {
    margin-right: 250px;
    margin-bottom: 300px; 
    font-size: 30px;
    color: white;
  }
  .box-2 {
    width: 350px; 
    height: 360px; 
  }
  .box-2 h3 {
    margin-right: 220px;
    margin-bottom: 300px; 
    font-size: 30px;
    color: white;
  }

  .box-3 { 
    width: 350px;  
    height: 360px; 
  }

  .box-3 h3 {
    margin-right: 180px;
    margin-bottom: 300px; 
    font-size: 30px;
    color: white;
  }
}

