* {
  font-family: 'Roboto', sans-serif;
  margin: 0; 
  padding: 0;
}

.outer-headings {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the items */
  text-align: left;
}

h1 { 
  color: white; 
  background: transparent;
  font-size: 80px; 
  margin-right: 175px; /* Adjust the space between text and image */
  margin-bottom: 100px;
  padding-left: 80px;
}

.image-container {
  width: 600px;
  height: 600px;
  background-image: url('./assets/light-bulb.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 10px; */ /* Adjust this as needed to align with the text */
}

.inner-headings {
  height: 80px; 
  line-height: 90px;
  font-size: 80px;
  overflow: hidden;
  background: transparent;
  position: relative;
}

.inner-headings span {
  position: relative; 
  color: rgb(255, 41, 41); 
  background: transparent;
  animation: animation 4s cubic-bezier(0.4, 0.0, 0.2, 1) infinite; /* Smooth easing */
}

@keyframes animation { 
  0%, 100% { 
    top: 0; 
    transform: scale(1);
  }
  5%, 30% { 
    transform: scale(1.05); /* Very subtle bounce effect */
  }
  33.33% { 
    top: -100px; /* Adjusted for larger text */
  }
  38.33%, 63.33% { 
    transform: scale(1.05); /* Very subtle bounce effect */
  }
  66.66% { 
    top: -200px; /* Adjusted for larger text */
  }
  71.66%, 96.66% {
    transform: scale(1.05); /* Very subtle bounce effect */
  }
}


