* {
  font-family: 'Roboto', sans-serif;
  margin: 0; 
  padding: 0;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Behind everything else */
}

.about-me-section {
  color: white; /* Adjust text color as needed */
  padding: 50px; /* Add padding around your content */
  /* Add any other styling needed for this section */
}

.background-image-container {
  width: 1100px; /* Set the width of the image */
  height: 600px; /* Set the height of the image */
  margin-left: 300px;
  background-image: url('./assets/square-home-wallpaper.png'); /* Path to your image */
  background-size: cover; /* Cover the entire container area */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  /* Add more styling as needed, like margins or alignment */
}

.outer-headings {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the items */
  text-align: left;
}

h1 { 
  color: white; 
  background: transparent;
  font-size: 80px; 
  margin-right: 175px; /* Adjust the space between text and image */
  margin-bottom: 100px;
  padding-left: 80px;
  z-index: 10000;
}

h2 { 
  font-size: 80px;
  transform: translate(370px, -530px);
  background-color: transparent;
}

.typing-effect {
  display: inline-block; /* Allows the container to grow with the content */
  border-right: 3px solid black; /* The caret */
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  max-width: 740px; /* Prevents the container from growing beyond the text width */
  animation: typing 4s steps(40, end) 1 forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; } /* Adjust width to fit your text */
}

@keyframes blink-caret {
  0%, 100% { border-color: white; }
  50% { border-color: transparent; }
}

.highlight {
  color: red; /* Change the color to red */
}

.about-me-text {
  margin-left: 300px; 
  margin-top: -450px; 
  font-size: 25px;
}

.image-container {
  width: 600px;
  height: 600px;
  margin-right: -10px;
  background-image: url('./assets/light-bulb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1010;
}

.inner-headings {
  height: 80px; 
  line-height: 90px;
  font-size: 80px;
  overflow: hidden;
  background: transparent;
  position: relative;
}

.inner-headings span {
  position: relative; 
  color: rgb(255, 41, 41); 
  background: transparent;
  animation: animation 4s cubic-bezier(0.4, 0.0, 0.2, 1) infinite; /* Smooth easing */
}

@keyframes animation { 
  0%, 100% { 
    top: 0; 
    transform: scale(1);
  }
  5%, 30% { 
    transform: scale(1.05); /* Very subtle bounce effect */
  }
  33.33% { 
    top: -100px; /* Adjusted for larger text */
  }
  38.33%, 63.33% { 
    transform: scale(1.05); /* Very subtle bounce effect */
  }
  66.66% { 
    top: -200px; /* Adjusted for larger text */
  }
  71.66%, 96.66% {
    transform: scale(1.05); /* Very subtle bounce effect */
  }
}

.outer-headings.scrolled h1 {
  transform: translateX(-50px); /* Move text to the left */
  transition: transform 0.6s ease-in-out;
}

.outer-headings h1 {
  transform: translateX(0); /* Start at original position */
  transition: transform 0.4s ease-in-out; /* Always active transition */
}

.outer-headings.scrolled h1 {
  transform: translateX(-50px); /* Move text to the left when scrolled */
}

.image-container {
  transform: translateX(0); /* Start at original position */
  transition: transform 0.4s ease-in-out; /* Always active transition */
}

.image-container.move-right {
  transform: translateX(50px); /* Move image to the right when scrolled */
}

.arrow-container {
  position: fixed; /* Keeps the arrow fixed in the viewport */
  bottom: 20px;
  left: 50%;
  margin-left: -15px;
  transform: translateX(-50%);
  z-index: 1001;
  animation: fadeIn 10s ease;
}

.arrow-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  opacity: 1; /* Arrow is fully visible initially */
  transition: opacity 1s ease; /* Smooth transition for opacity */
}


.arrow-down {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(45deg); /* At the start and end, arrow is at its initial position */
  }
  50% {
    transform: translateY(-20px) rotate(45deg); /* Move the arrow up by 20px */
  }
}

.arrow-wrapper.hide-arrow {
  opacity: 0; /* Arrow becomes fully transparent */
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}