/* TopBar.css */
.nav {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #1A1A1D;
    height: 60px;
  }
  
  .logo {
    width: 120px; /* Adjust as per your logo's aspect ratio */
    height: 120px; /* Adjust as per your logo's aspect ratio */
    background-image: url('./assets/name-logo.png'); /* Path to your logo */
    background-size: cover; /* Ensures the logo fits within the dimensions */
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  
  .nav ul {
    list-style: none;
    background-color: transparent;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin: 0 20px;
    background-color: transparent;
  }
  
  .nav a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
  }
  