/* TopBar.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  height: 50px;
  transition: background-color 0.4s ease;
  position: sticky; 
  top: 0; 
  z-index: 50000; 
}

.nav.scrolled {
  background-color: #1a1919; 
  z-index: 50000; 
}

.logo {
  width: 120px;
  height: 120px;
  background-image: url('./assets/name-logo.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: transparent;
  margin-left: 20px;
  margin-bottom: -5px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center; 
  margin: 0;
  padding: 0 40px 0 0;
  flex-grow: 1;
  background-color: transparent;
}

.nav .lets-talk-btn {
  display: inline-block;
  padding: 6px 12px; 
  margin: 5px 10px 5px -10px; 
  background-color: #e04e4e; 
  color: white;
  border-radius: 25px; /* Pill shape */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav .lets-talk-btn:hover {
  background-color: #cc0000; 
}

.nav li {
  margin: 0 20px;
  background-color: transparent;
}

.nav a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
}

.red-line {
  height: 1.5px; /* Height of the red line */
  background-color: #e04e4e; /* Red color */
  width: 0; /* Line starts out as not visible */
  transition: width 0.4s ease; /* Transition matching the top bar animation */
  position: absolute;
  bottom: 0; /* Position the line at the bottom of the nav */
  left: 0;
}

.nav.scrolled .red-line {
  width: 100%; /* Line extends to full width when scrolled */
}